*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

header{
    height: 100px;
    background-color: #000000;
    color: #fff;
}

.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 100px;

}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: #b28756;
}

.menu{
    flex: 1;
    display: flex;
    justify-content:flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight:600;
    text-decoration:none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid black;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #B28756;
    color: #CCC
}

.banner {
    height:calc(100vh - 100px) ;
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
}



